<% if notice.present? %>
  <div popover class="flash" style="--flash-position: 5rem;" data-controller="element-removal" data-action="animationend->element-removal#remove" role="alert"><%= notice %></div>
<% end %>

<%= render @post %>

<div class="flex flex-wrap items-center gap mbs-6" style="--row-gap: .5rem">
  <%= link_to "Edit this post", edit_post_path(@post), class: "btn" %>
  <%= link_to "Back to posts", posts_path, class: "btn" %>
  <%= button_to "Destroy this post", @post, method: :delete, class: "btn" %>
</div>
